doctype
html
  head
    link(rel="stylesheet", href="assets/index.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    title {{ page.title }}
  body {{ content }}
