| ---
| layout: base
| title: about
| ---

.container.nav-container
    .wrapper.nav-wrapper

        .mobile-nav-wrapper
            a(href="index.html"): img(src="assets/img/favicon.png", alt="Favicon").favicon
            a(href="#").ion.ion-navicon-round

        ul.nav-menu
            li: a(href="index.html") Articles
            li: a(href="about.html").current-page <span class="fa fa-hand-o-right bounce"></span>&nbspAbout
            li: a(href="contact.html") Contact

        ul.social-media
            li: a(href="https://www.instagram.com/jackfriend2000/").fa.fa-instagram.fa-lg
            li: a(href="https://github.com/jackfriend").fa.fa-github.fa-lg
            li: a(href="contact.html").fa.fa-envelope-o.fa-lg

.container.about-container 
    .terminal
        .terminal-heading
            p about.js - Bash - 600 x 300
        .terminal-body
            p $ <span class="typing-space"></span>
