| ---
| layout: base
| ---

| {% include nav.html %}

.container.article-container
  .wrapper.article-wrapper
    | {% for article in site.posts %}
    .article(class="size{% cycle 'one', 'two', 'three' %}")
    | {% endfor %}
    
    
