.container.nav-container
  .wrapper.nav-wrapper
    
    img(src="assets/img/favicon.png", alt="Favicon").favicon
    
    a(href="#").hamburger.fa.fa-bars.fa-lg
    
    ul.nav-menu
      li: a(href="#") Articles
      li: a(href="#") About
      li: a(href="#") Contact
      
    ul.social-media
      li: a(href="#").fa.fa-instagram.fa-lg
      li: a(href="#").fa.fa-github.fa-lg
      li: a(href="#").fa.fa-envelope-o.fa-lg
