.article-wrapper {

}

.article {
  width: 160px;
  margin: 20px;
  display: inline-block;
}

.sizeone {
  background-color: honeydew;
  height: 400px;
}

.sizetwo {
  background-color: #b37399;
  height: 300px;
}

.sizethree {
  background-color: #669999;
  height: 500px;
}

.sizefour {
  background-color: #d2e1dd;
  height: 400px;
}

.sizefive {
  background-color: #003366;
  height: 300px;
}

.sizesix {
  background-color: #998099;
  height: 500;
}
