.article {
  width: 160px;
  margin: 8px;
  display: inline-block;
  border: 5px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 0px #929292;
  overflow: hidden;
}

.article-preview {
  position: absolute;
  bottom: -1px;
  width: 100%;
  background-color: white;
  display: none;
  padding: 8px 0;
}

.article-image {
  position: absolute;
  box-shadow: 0 0 5px 0px #000000;
}

.sizeone {
  // background-color: honeydew;
  min-height: 400px;

  .article-image {
    background-image: url('https://www.fillmurray.com/160/400');
    background-size: cover;
    width: 100%;
    height: 400px;
  }
}

.sizetwo {
  // background-color: #b37399;
  min-height: 300px;

  .article-image {
    background-image: url('https://www.fillmurray.com/160/300');
    background-size: cover;
    width: 100%;
    height: 300px;
  }
}

.sizethree {
  // background-color: #669999;
  min-height: 500px;

  .article-image {
    background-image: url('https://www.fillmurray.com/160/500');
    background-size: cover;
    width: 100%;
    height: 500px;
  }
}
