$speed: 1s;



@media screen and (max-width: 600px) {

  .nav-container.clicked {
    animation: slidedown $speed forwards;

    .nav-menu {
      display: block;
      animation: appear $speed forwards;
    }
    .social-media {
      display: inline-flex;

      animation: appear $speed forwards;
    }
    .fa-times.fa {
      display: block;
    }
    .bounce {
      display: none;
    }
  }


  .nav-container.unclicked {
    animation: slideup $speed forwards;

    .nav-menu {
      animation: disappear $speed forwards;
    }
    .social-media {
      animation: disappear $speed forwards;
    }
  }

}
