@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800,800italic);
@import url(https://fonts.googleapis.com/css?family=Martel:400,200,300,600,700,800,900);

*, html, body {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #000000;

  &:visited {
    color: #000000;
  }
}

.nav-menu, .social-media {
  line-height: 2em;
  font-size: .92em;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;

  a {
    color: #696969;

    &:hover {
      color: #007aff;
    }
  }
}

.article {
  line-height: 1.25em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  h1  {
    font-size: 1em;
  }
  h6.subheading {
    font-size: .7em;
    color: #727272;
    font-weight: 400;
  }
  a:hover {
    color: #007aff;
  }
}
