<div class="container nav-container">
  <div class="wrapper nav-wrapper">
    <div class="mobile-nav-wrapper"><img src="assets/img/favicon.png" alt="Favicon" class="favicon"/><a href="#" class="fa fa-bars fa-2x"></a></div>
    <ul class="nav-menu">
      <li><a href="#"><span class="fa fa-hand-o-right bounce"></span>&nbspArticles</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <ul class="social-media">
      <li><a href="https://www.instagram.com/jackfriend2000/" class="fa fa-instagram fa-lg"></a></li>
      <li><a href="https://github.com/jackfriend" class="fa fa-github fa-lg"></a></li>
      <li><a href="mailto:jackwilliamfriend@gmail.com" class="fa fa-envelope-o fa-lg"></a></li>
    </ul>
  </div>
</div>